<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>SAA - Ejecutar Viaje</title>
    <link href="bootstrap.min.css" rel="stylesheet" />
    <link href="bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="css/select2.min.css" rel="stylesheet" />
    <link href="css/select2-bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    #travels {
        margin-top: 5%;
    }

    .withTopMargin {
        margin-top: 5%;
    }

    .weirdAmount {
        width: 30%;
    }
</style>
</head>
<body>
<div class="container-fluid">
    <h2>Ejecutar Viaje</h2>
    <div class="row">
        <div class="col-md-6">
            <form method="post" role="form">
                <div class="row" data-bind="with: toAddModel ">
                    <div class="form-group col-md-4">
                        <label for="articulo" class="control-label">Artículo</label>
                        <select type="text" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="articulo" data-bind="select2Data: article, select2: $root.spec, optionsText: 'nombre'"></select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="cantidad" class="control-label">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" data-bind="value: amount">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="tipo" class="control-label">Tipo:</label>
                        <select type="text" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="tipo" data-bind="value: type, options: $root.travelsTypes, optionsText: 'text'"></select>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary" data-bind="click: addArticle">Agregar Artículo</button>
                    </div>
                </div>
                <div class="row form-inline withTopMargin" data-bind="visible: actionsVisible">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-bind="click: selectAll"> Select All
                            </label>
                        </div>
                        <button class="btn btn-danger" data-bind="click: deleteSelected, visible: deleteSelectedVisible">
                            Delete
                        </button>
                    </div>
                </div>
                <div data-bind="foreach: travels" id="travels">
                    <div class="row">
                        <div class="col-md-8">
                            <div>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <input type="checkbox" data-bind="checked: selected" />
                                        <span data-bind="text: id"></span> -
                                        <span data-bind="text: description"></span> - 
                                        <span data-bind="text: type().text"></span>
                                        <input type="number" data-bind="value: amount" class="weirdAmount" />
                                        <button type="button" class="close" aria-label="Close" data-bind="click: $root.deleteArticle">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success" data-bind="visible: actionsVisible">Ejecutar Viaje</button>
                <button type="button" class="btn btn-default" data-bind="visible: actionsVisible">Guardar Configuración</button>
            </form>
        </div>        
    </div>
</div>

<!-- Dependecies -->
    <script src="jquery-2.2.0.min.js"></script>
    <script src="linq.min.js"></script>
    <script src="jquery.linq.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="knockout-3.4.0.js"></script>
    <script src="select2.min.js"></script>
    <script src="knockout-select2.min.js"></script>
    <script src="jaydata.min.js"></script>
    <script src="jaydatamodules/knockout.min.js"></script>
    <!-- Dependecies -->

    <script src="core.js"></script>

    <script type="text/javascript">
    $(function () {
        var vm = new viewModel();
        ko.applyBindings(vm);
    });
</script>

</body>
</html>